Projet 6 — Multi-agents/Agent Chef -- Orchestrateur.json
{
  "name": "Agent Chef -- Orchestrateur",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "58b456b4-dde9-4a49-9ef1-2f4e01a5ce26",
      "name": "When chat message received",
      "webhookId": "139f16bc-ea34-44b5-b583-9c9cbcc421e1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Tu es un agent de prospection. \n\nQuand tu reçois un message, appelle TOUJOURS l'outil sous-agent-recherche avec :\n- secteur = le type d'entreprise du message\n- ville = la ville du message  \n- limit = le nombre du message ou 5 par défaut\n\nMessage reçu : {{$json.chatInput}}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "d7a7403f-0104-496b-b454-1ba943de610e",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        192,
        176
      ],
      "id": "75f0844b-a75f-472c-9bf2-d4254fc24c11",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "Recherche des leads sur Google Maps selon une ville et un secteur",
        "workflowId": {
          "__rl": true,
          "value": "eIX34Ic27HFYMfts",
          "mode": "list",
          "cachedResultUrl": "/workflow/eIX34Ic27HFYMfts",
          "cachedResultName": "Sous-Agent Recherche leads"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('limit', ``, 'number') }}",
            "ville": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ville', ``, 'string') }}",
            "secteur": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('secteur', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "secteur",
              "displayName": "secteur",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "ville",
              "displayName": "ville",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "limit",
              "displayName": "limit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        208,
        352
      ],
      "id": "7ac55344-8f20-4ec6-9db7-2e5b40122097",
      "name": "Call 'Sous-Agent Recherche leads'"
    },
    {
      "parameters": {
        "description": "Rédige un email de prospection personnalisé pour une entreprise. Utilise ce tool après avoir trouvé des leads.",
        "workflowId": {
          "__rl": true,
          "value": "1WCbg3AwBrWdxeVe",
          "mode": "list",
          "cachedResultUrl": "/workflow/1WCbg3AwBrWdxeVe",
          "cachedResultName": "Sous-agent Rédaction Email"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        496,
        352
      ],
      "id": "ad984c4a-2647-4327-bd35-a3650f930e7c",
      "name": "Call 'Sous-agent Rédaction Email'"
    },
    {
      "parameters": {
        "description": "Analyse les leads trouvés et génère un rapport avec statistiques et recommandation",
        "workflowId": {
          "__rl": true,
          "value": "Ow1UHD2OyBCqh3DA",
          "mode": "list",
          "cachedResultUrl": "/workflow/Ow1UHD2OyBCqh3DA",
          "cachedResultName": "Sous-Agent Analyse Données"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        352,
        352
      ],
      "id": "a943cb2d-4a70-4131-a27f-579a6addf46b",
      "name": "Call 'Sous-Agent Analyse Données'"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "list",
          "cachedResultName": "gpt-5.2"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        48,
        176
      ],
      "id": "017d3619-f916-4c97-afe3-2ef4f1a598ea",
      "name": "GPT 5.2",
      "credentials": {
        "openAiApi": {
          "id": "92Sw6zwXOpgHrKi8",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "description": "Sauvegarde un lead dans Airtable CRM. \nAppelle ce tool UNE FOIS PAR LEAD avec ces paramètres séparés :\n- company : nom de l'entreprise\n- website : site web\n- address : adresse\n- score : score numérique\n- sujet : sujet de l'email\n- corps : corps de l'email",
        "workflowId": {
          "__rl": true,
          "value": "MGDAtDrGBYa00xm4",
          "mode": "list",
          "cachedResultUrl": "/workflow/MGDAtDrGBYa00xm4",
          "cachedResultName": "Sous-agent Actions CRM"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        624,
        352
      ],
      "id": "4b44f8b0-0798-4fd8-b7af-dad1c285b364",
      "name": "Call 'Sous-agent Actions CRM'"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Sous-Agent Recherche leads'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Sous-agent Rédaction Email'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Sous-Agent Analyse Données'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GPT 5.2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Sous-agent Actions CRM'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "SGqnpz8K4HptDcor",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "f4359a07-03ff-4641-b6a9-e3ba1229c6c6",
  "meta": {
    "instanceId": "dae72343f8020f80402854a16cdcc62a3880287305904eb8421aaed8236d04b4"
  },
  "id": "wYzK012GOQKpBpHI",
  "tags": []
}