Projet 5 — Agent IA dans N8N/Assitant gmail calendar Notion Slack.json
{
  "name": "Assitant gmail calendar Notion Slack",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "59301f2a-eacf-4e2d-9d9a-2f7d5259592c",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "ku3Rgy4DGrWvoKdd",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=De: {{ $json.From }}\nObjet: {{ $json.Subject }}\n- Contenu : {{ $json.text ?? $json.snippet }}",
        "options": {
          "systemMessage": "Tu es un assistant email intelligent. Tu analyses chaque email reçu et tu décides de la meilleure action à effectuer.\n\nVoici les règles de décision :\n\n1. Si l'email contient une demande de réunion ou rendez-vous → utilise Google Calendar pour créer un événement\n2. Si l'email contient une tâche ou action à faire → utilise Notion pour créer une tâche\n3. Si l'email est une question simple → utilise Gmail pour répondre automatiquement\n4. Si l'email est urgent ou important → utilise Slack pour alerter l'équipe\n\nInformations sur l'email reçu :\n- Expéditeur : {{ $json.From }}\n- Objet : {{ $json.Subject }}\n- Contenu : {{ $json.text ?? $json.snippet }}\n\nAgis toujours de façon professionnelle et concise.\n\nQuand tu utilises Google Calendar :\n- Le titre de l'événement doit être l'objet de l'email\n- La date doit être extraite du contenu de l'email\n- Si pas de date précise → crée l'événement dans 2 jours à 14h\n- Ajoute le nom de l'expéditeur dans le titre de l'événement (ex: \"Réunion avec Thomas Dupont\")\n\nQuand tu crées une tâche Notion :\n- Ajoute un emoji pertinent au début du titre selon le type de tâche\n- Ex: 📊 pour une présentation, 📧 pour un email, 🔧 pour technique, 📝 pour rédaction\n\n\nQuand tu réponds à un email :\n- Utilise un ton chaleureux et humain, pas corporate\n- Ne donne jamais de tarifs précis — dis que tu rappelles pour en discuter\n- Propose toujours un appel téléphonique\n- Dis que tu vas revenir vers eux dans les 24h\nQuand tu rédiges un email de réponse :\n- Utilise du HTML pour formater l'email\n- Sauts de ligne entre chaque paragraphe\n- Maximum 3-4 phrases par email\n- Signe avec \"Jérémy\" sur une ligne séparée\n- Ton simple, direct et professionnel\n\n\n4. Si l'email contient les mots \"URGENT\", \"urgent\", \"panne\", \n\"problème critique\", \"down\", \"crash\" ou \"emergency\" → \nutilise OBLIGATOIREMENT Slack pour alerter l'équipe ET \nne réponds PAS par email"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        224,
        0
      ],
      "id": "f78e891e-dcf0-4da7-a591-a54c2ade7917",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "list",
          "cachedResultName": "gpt-5.2"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -16,
        224
      ],
      "id": "3cdd6d19-388e-4d61-8110-778c68fff905",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "92Sw6zwXOpgHrKi8",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.threadId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        80,
        224
      ],
      "id": "46fae4fc-f8a6-4779-acd5-d5086936777d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Crée un événement Google Calendar quand l'email contient une demande de réunion ou rendez-vous",
        "calendar": {
          "__rl": true,
          "value": "0597fb39f46f62b1b5962ce9b15f0bdde2b4c84431bc14180cf30f352cde542c@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Réunion "
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        240,
        224
      ],
      "id": "fa38763b-eaf7-46e7-bc76-1fe8af494bed",
      "name": "Google Calendar ",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "s6eiq2TOiRM2EcTx",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "31e439e8-9083-80e9-8f33-d6113d5fc578",
          "mode": "list",
          "cachedResultName": "Tâches Onboarding",
          "cachedResultUrl": "https://www.notion.so/31e439e8908380e98f33d6113d5fc578"
        },
        "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}",
        "simple": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', ``, 'boolean') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.notionTool",
      "typeVersion": 2.2,
      "position": [
        368,
        224
      ],
      "id": "4eaa8e74-816f-4447-a8c5-62df88bc8df1",
      "name": "Tâche Notion",
      "credentials": {
        "notionApi": {
          "id": "DV65S6TcPVLls6VQ",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        480,
        224
      ],
      "id": "c2068528-2adb-4efc-a149-8db71208a73c",
      "name": "Réponse aux question Simple mail",
      "webhookId": "f5890b44-fa4c-4a02-aad1-6fe8ba947f0c",
      "credentials": {
        "gmailOAuth2": {
          "id": "ku3Rgy4DGrWvoKdd",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://hooks.slack.com/services/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",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('JSON', ``, 'json') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        608,
        224
      ],
      "id": "a2b8c80e-4a4c-4496-b091-9710df0087dc",
      "name": "Slack si Urgence"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Google Calendar ": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tâche Notion": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Réponse aux question Simple mail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Slack si Urgence": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "9fe9fafb-72a8-4449-be4f-3ca9cdbe8ff3",
  "meta": {
    "instanceId": "dae72343f8020f80402854a16cdcc62a3880287305904eb8421aaed8236d04b4"
  },
  "id": "dqX3C999TQFMJGQD",
  "tags": []
}